*{
  margin: 0;
  padding: 0;
  font-family: montserrat;
 }
 
/* Autocomplete class */

.p-autocomplete {
  height: 38px;
}


.form-control:focus{
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  outline: none;
  box-shadow: none;
}

.largoTooltip{
  max-width: 300px;
}
.styleFocusInputNumber:focus{
  border: none !important;
  box-shadow: 1px 1.2px #bdbdbd !important;

}

  .Largo{
    max-width: 500px;
  }

  .ButtonResponsiveEditWeekName{
      display: none;
    }

  .FontTitles{
    font-size: 1.3em;
    font-weight: 400;
  }

  .LinkDays {
    text-decoration: none;
  }

  .ClassBGHover:hover{
    background-color: #d1d1d1;
  }

  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }


  
  .menu {
    display: flex;
    justify-content: center;
  }



  .menuColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .buttonColorDelete:hover {
    background-color: rgb(204, 17, 17);
    color: white;
  }
  
  
  .menu a {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
  }
  
  .menu a span {
    transition: transform 0.2s ease-out;
  }
  
  .menu a h2 {
    display: inline-block;
  }
  
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  
  .menu p {
    font-size: 22px;
  }
  
  .menu a:hover h2 {
    transform: translateY(100%);
  }
  
  .menu a:hover span:last-child,
  .menu[data-animation] a:hover span:last-child {
    transform: none;
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
  
  .menu[data-animation="to-right"] a:hover h2 {
    transform: translateX(100%);
  }

  .backgroundEjercicios{
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 0;
    border: 0;
  }

  .p-inputnumber-input{
    max-height: 35px;
    text-align: center;
    align-items: center;

  }

  .p-inputnumber-button{
    max-height: 35px;
    text-align: center;
  }

  .aa{
    cursor: pointer;
  }
  
  .buttonResponsive{
    display: none;
  }

  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }


  .responsiveCardExercises{
    display: none;
  }  

  
  /*Button rsSuit*/

  .sinPadd{
    padding: 0;
  }

  .altoResponsive{
    min-height: 200px;
  }
  
  .rs-panel-body{
    padding: 0px;

  }

  .ee{
    height: 40px;
  }

  .BlackBGtextWhite{
    background-color: black;
    color: white;

  }

  .BlackBGtextWhite:hover{
    background-color: black;
    color: white;
    animation: bounce 0.5s;

  }

  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.068);
  }
  
  .carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.068);

  }

  .ButtonsInputNumber{
    background-color: rgb(27, 27, 27) !important;
    border: none;
  }

  .ButtonsInputNumber:hover{
    background-color: rgb(255, 255, 255) !important ;
    color: black !important;
  }

  .kkk{
    max-width: 700px;
  }


  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    80% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }

  .displayFlexInMobile{
    display: none;
  }

  .colorDialog{
    background-color: #f5f5f5 !important;

  }




.eee{
  max-width: 500px !important;
  background-color: red !important;
}

.BGmodalClose{
  background-color: #ffffff;
  border: 0.5px solid;
}

.BGmodalClose:hover{
  animation: bounce 0.5s;
  border: 0.5px solid;

}

.deleteDialog{
  background-color: #000000;
}
.deleteDialog:target{
  background-color: #dc3545 !important;

}
.deleteDialog:hover{
  background-color: #dc3545 !important;
}

.deleteDialog:active{
  background-color: #dc3545 !important;

}


.closeDialog{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.closeDialog:hover{
  background-color: #ffffff !important;
  border: 1px solid black !important;
  color:#000000 !important;
  animation: bounce 0.5s;
}

.closeDialog:active{
  background-color: #ffffff !important;
  color:#000000 !important;
  border: 1px solid black !important;

}

.spinnerColor{
  background-color: #2CBDC7 !important;
  color: #2CBDC7 !important;
}

.cardSkeleton{
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.card-skeleton .left-col {
  margin-right: 1rem;
}

.card-skeleton .right-col {
  flex: 1;
}


/* Prime react styles */



.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background: #2CBDC7;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
  background: #2CBDC7;
}

.custom-sidebar-bottom .p-sidebar-content {
  max-height: 50vh;
  overflow-y: auto;
}

.buttonsEdit{
  padding: 8px;
}

.buttonsEdit:hover{
  background-color: #dbdbdb;
}

.input-number-container {
  display: flex;
  justify-content: center;
  height: 35px;
}


.input-number-container input{
  height: 100%;
  border-left: 0;
  border-right: 0;
  width: 70px;
  align-items: center;
  text-align: center;
  line-height: normal;

}


.input-number-container .buttonRight {
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.input-number-container .buttonLeft {
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.input-number-container .buttonRight:hover,
.input-number-container .buttonLeft:hover{
  background-color: rgba(240, 240, 240, 0.356);
  color: #000000;
}

.input-number-container .buttonLeft[disabled],
.input-number-container .buttonRight[disabled]
 {
  background-color: #e9ecef;
  color: #92969a;

}

.input-number-container .inp[disabled]{
  background-color: white;
  color: #92969a;
}

.colorDisabled{
  background-color: #f3f4f5;
}

.ww{
  background-color: #f3f4f5;
  opacity: 0.1 ;
}

.textCreated{
  color: #0000008c;
  font-size: 0.9em;
}

.tableDatabaseMobile{
  background-color: #f8f9fa;
  display: none;
}


.skeleton {
  background-color: #f1f1f1;
}

.skeleton :global(.p-skeleton) {
  margin-bottom: 1rem;
}

.skeletonActions{
  width: 94px;
}

/*.skeletonNotas{
  width: 190px;
}

.skeletonName{
  width: 230px;
}

.skeletonNumber{
  width: 110px;
}*/










@media screen and (max-width: 992px) {
    
  
  .displayFlexInMobile{
    display: flex;
  }
  .TableResponsiveDayEditDetailsPage{
    display: none;
  }

  .responsiveEmail{
    display: none;
  }
  
  .ButtonResponsiveEditWeekName{
    display: flex
  }

  .TitleResponsiveEditWeekName{
    margin-left: 20px;
  }

  .buttonResponsive{
    display: flex;
  }

/*DayEditPage styles*/

  .responsiveCardExercises{
    display: flex;
  }   
  .responsiveTableExercises{
    display: none;
  }   

  /*Tabla del alumno*/

.tabla tr {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.021);
  margin-bottom: 20px;
}

.tabla thead {
  display: none;
}

.responsiveBlock{
  display: block;
}

.altoResponsive{
  min-height: 350px;
}

.WidthInputsWhenIsMobile{
  max-width: 45px;
}

.input-number-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  padding-left: 0px ;
  height: 100%;
  min-width: 50px;
 
}

.input-number-container input{
  border-left: 1px;
  border-right: 1px;
  width: 50px;
 
}

.input-number-container .buttonRight {
 
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.input-number-container .buttonLeft {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  
  border-bottom: 0;

  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}


}

