*{
  font-family: montserrat;
}

h2 {
  font-size: 2em;
  color: #000000;
}

p {
  font-size: 1em;
  color: #000000;
}

.buttonCancelDialog{
  background-color: white;
  border: 1px solid black;
}
 
.buttonCancelDialog:hover{
  background-color: #d8d8d8;
  border: 1px solid black;
}

.largeTh{
  min-width: 90px !important;
}

.largeThName{
  min-width: 170px !important;
}

.select-button .p-button {
  
  width: 15%;
}

/* Autocomplete clase */


.p-autocomplete {
  height: 38px;
}

.backgroundPencil{
  background-color: white !important;
}

.form-control:focus{
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  outline: none;
  box-shadow: none;
}

.largoTooltip{
  max-width: 300px;
}
.styleFocusInputNumber:focus{
  border: none !important;
  box-shadow: 1px 1.2px #bdbdbd !important;

}

  .Largo{
    max-width: 400px;
  }

  .ButtonResponsiveEditWeekName{
      display: none;
    }

  .FontTitles{
    font-size: 1.3em;
    font-weight: 400;
  }

  .LinkDays {
    text-decoration: none;
  }

  .ClassBGHover:hover{
    background-color: #d1d1d1;
  }

  .mouseUp{
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }


  
  .menu {
    display: flex;
    justify-content: center;
  }



  .menuColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .buttonColorDelete:hover {
    background-color: rgb(204, 17, 17);
    color: white;
  }
  
  
  .menu a {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
  }
  
  .menu a span {
    transition: transform 0.2s ease-out;
  }
  
  .menu a h2 {
    display: inline-block;
  }
  
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  
  .menu p {
    font-size: 22px;
  }
  
  .menu a:hover h2 {
    transform: translateY(100%);
  }
  
  .menu a:hover span:last-child,
  .menu[data-animation] a:hover span:last-child {
    transform: none;
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
  
  .menu[data-animation="to-right"] a:hover h2 {
    transform: translateX(100%);
  }

  .backgroundEjercicios{
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 0;
    border: 0;
  }

  .p-inputnumber-input{
    max-height: 35px;
    text-align: center;
    align-items: center;

  }

  .styleSelectButton{
    font-size: 0.9em;
    margin: auto !important;
    padding: 0 !important;
    width: 140px !important;
  }

  .marginReps{
    margin-top: 29px;
  }

  .custom-fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .custom-fieldset legend {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .fieldset-content {
    margin-top: 10px;
  }
  
  .fieldset-content .form-group {
    margin-bottom: 10px;
  }
  
  .fieldset-content .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  

  .p-inputnumber-button{
    max-height: 35px;
    text-align: center;
  }

  .aa{
    cursor: pointer;
  }
  
  .buttonResponsive{
    display: none;
  }

  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }


  .responsiveCardExercises{
    display: none;
  }  

  
  /*Button rsSuit*/

  .sinPadd{
    padding: 0;
  }

  .altoResponsive{
    min-height: 200px;
  }
  
  .rs-panel-body{
    padding: 0px;

  }

  .ee{
    height: 40px;
  }

  .BlackBGtextWhite{
    background-color: black;
    color: white;

  }

  .spanLow{
    color: #888888;
    font-size: 0.7em;
  }

  .BlackBGtextWhite:hover{
    background-color: black;
    color: white;
    animation: bounce 0.5s;

  }

  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.068);
  }
  
  .carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.068);

  }

  .ButtonsInputNumber{
    background-color: rgb(27, 27, 27) !important;
    border: none;
  }

  .ButtonsInputNumber:hover{
    background-color: rgb(255, 255, 255) !important ;
    color: black !important;
  }

  .kkk{
    max-width: 700px;
  }


  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    80% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }

  .displayFlexInMobile{
    display: none;
  }

  .colorDialog{
    background-color: #f5f5f5 !important;

  }




.eee{
  max-width: 500px !important;
  background-color: red !important;
}

.BGmodalClose{
  background-color: #ffffff;
  border: 0.5px solid;
}

.BGmodalClose:hover{
  animation: bounce 0.5s;
  border: 0.5px solid;

}

.deleteDialog{
  background-color: #000000;
}
.deleteDialog:target{
  background-color: #dc3545 !important;

}
.deleteDialog:hover{
  background-color: #dc3545 !important;
}

.deleteDialog:active{
  background-color: #dc3545 !important;

}


.closeDialog{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.closeDialog:hover{
  background-color: #ffffff !important;
  border: 1px solid black !important;
  color:#000000 !important;
  animation: bounce 0.5s;
}

.closeDialog:active{
  background-color: #ffffff !important;
  color:#000000 !important;
  border: 1px solid black !important;

}

.spinnerColor{
  background-color: #2CBDC7 !important;
  color: #2CBDC7 !important;
}

.cardSkeleton{
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.card-skeleton .left-col {
  margin-right: 1rem;
}

.card-skeleton .right-col {
  flex: 1;
}


/* Prime react styles */



.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background: #2CBDC7;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
  background: #2CBDC7;
}

.custom-sidebar-bottom .p-sidebar-content {
  max-height: 50vh;
  overflow-y: auto;
}

.buttonsEdit{
  padding: 8px;
}

.buttonsEdit:hover{
  background-color: #dbdbdb;
}



.input-number-container input{
  height: 100% ;
  border-left: 0 ;
  border-right: 0 ;
  width: 70px ;
  align-items: center ;
  text-align: center ;
  line-height: normal ;

}

.colorIconYoutube{
  color: rgb(221, 28, 28) !important;
}

.p-slider{
  background-color: #b9b9b9 !important;
}

.p-slider-handle{
  background-color: #000000  !important;
  border: 0 !important;
}

.dialogStyleProfile .p-dialog-title{
  margin-top: 10px;
  margin-left: 15px;
}

.largeItemsProfile{
  width: 150px !important;
}

.p-slider-range{
  background-color: rgb(0, 0, 0);
}

.p-dropdown-items{
 padding: 10px;
 margin: 0;
}

.p-dropdown-items .p-highlight{
  font-size: 1em !important;
  background-color: #888888 !important;
 }

 

.colorIconDeleteExercise{
  color: rgb(190, 27, 27) !important;
}

.dataTableStyles td{
  margin-top: 30px;
  text-align: center !important;
  border: 1px solid rgba(75, 75, 75, 0.123);
  border-left: 0;
  border-right: 0;
}

.p-column-header-content{
  justify-content: center;
}

.fontTable{
  font-size: 1em;
  font-family: montserrat;
}

.dataTableStyles th{
  padding: 15px;
  margin-top: 30px !important;
  justify-content: center;
  text-align: center !important;
}

.dataTableStyles {
  overflow-x: auto;  
}

.container-fluid, .row {
  overflow-x: hidden;  
}




.ellipsis-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.input-number-container .buttonRight:hover,
.input-number-container .buttonLeft:hover{
  background-color: rgba(240, 240, 240, 0.356);
  color: #000000;
}

.input-number-container .buttonLeft[disabled],
.input-number-container .buttonRight[disabled]
 {
  background-color: #e9ecef;
  color: #92969a;

}

.input-number-container .inp[disabled]{
  background-color: white;
  color: #92969a;
}

.inputFontSize{
  font-size: 2.9em;
}

.colorDisabled{
  background-color: #f3f4f5;
}

.ww{
  background-color: #f3f4f5;
  opacity: 0.1 ;
}

.textCreated{
  color: #0000008c;
  font-size: 0.9em;
}

.tableDatabaseMobile{
  background-color: #f8f9fa;
  display: none;
}


.skeleton {
  background-color: #f1f1f1;
}

.skeleton :global(.p-skeleton) {
  margin-bottom: 1rem;
}

.skeletonActions{
  width: 94px;
}

.vvvv{
  height: 60px;
}

/*.skeletonNotas{
  width: 190px;
}

.skeletonName{
  width: 230px;
}

.skeletonNumber{
  width: 110px;
}*/


.tdNumber{
  width: 10%;
}

.tdName{
  width: 20%;
}

.tdSets{
  width: 10%;
}

.tdReps{
  width: 10%;
}

.tdPeso{
  width: 10%;
}

.tdVideo{
  width: 10%;
}

.tdNotas{
  width: 10%;
}

.tdActions{
  width: 10%;
}

.heightDesktop{
  height: 60px;
}

.heightMobile{
  height: 95px;
}

.tdNotasCircuit{
  width: 60px !important;
} /* ESTE ES EL Q INTENTÉ PARA Q SEA MAS CHICO, NO FUNCIONA*/




.cardActionArea {
  box-shadow: 5px 5px 10px #888888;
}




.dropDown{
  border: 0 !important;
}

.dropDown span{
  padding: 0 !important;
  margin: 0 !important;
}

.colorWeeklyProgress{
  color: white !important;
  background-color: #000000 !important;
}

.altoListPAR{
  height: 35px !important;
  font-size: 0.85em ;
}

.heightCardColumns{
  min-height: 300px;
}

.listPAR li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nnn div{
  min-height: 200px !important;
  font-size: 0.8em;
}

.td-0{
  width: 120px !important;
}

.td-1{
  width: 300px !important;

}

.td-4{
  width: 100px !important;
}

.td-5{
  width: 100px !important;
}

.td-6{
  width: 40px !important;
}

.td-7{
  width: 200px !important;
}

.td-8{
  width: 60px  !important;
}



.colorPencil{
  color: #000000;
}

.colorEditing{
  background-color: #2CBDC7 !important;
  font-size: 2em;
}

.colorIcon{
  background-color: #ffffff !important;
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
}




.bbb {
  color: #ffffff !important;
}

.bbb div{
  color: #ffffff !important;
}

.bbb ul{
  color: #ffffff !important;
}

.bbb a{
  color: #ffffff !important;
}

.bbb li{
  color: #ffffff !important;
}

.bbb p{
  color: #ffffff !important;
}

.bbb button{
  color: #ffffff !important;
}

.blackColor {
  color: #000000 !important;
}

.blackColor div{
  color: #000000 !important;
}

.blackColor ul{
  color: #000000 !important;
}

.blackColor a{
  color: #000000 !important;
}

.blackColor li{
  color: #000000 !important;
}

.blackColor p{
  color: #000000 !important;
}

.blackColor button{
  color: #000000 !important;
}

.bgColor{
  background-color: #000000 !important;
}




.buttonsHover:hover{
  opacity: 0.6;
  text-shadow: #000000;
}

.blackColor{
  color: #000000;
}


.colorPicker{
  height: 70px;
  width: 90px;
}

.colorTdPAR{
  background-color: #dadada !important;
}

.titleObservaciones{
  font-size: 1.09em;
  font-weight: 600;
}

.paraphObservaciones{
  font-size: 1em;
}

.Mui-focused{
  background-color: #ffffff00 !important;
}

.Mui-selected{
  background-color: #ffffff00 !important;
}

.stylesSegmented{
  font-size: 1em;
  background-color: #ebebeb;
  padding: 5px;
}

.avatarSize{
  height: 35px !important;
  width: 35px !important;
  text-align: center !important;

  align-items: center !important;
  font-size: 1em !important;
}

.avatarColor{
  background-color: #888888 !important;
}

.titleCard span{
  font-size: 1em  !important;
  color: #000000;
  
}

.MuiCardHeader-avatar{
  margin: 0 !important;
}
.ytColor{
  color: red;
  font-size: 34px !important;
}

.ytColor-disabled{
  color: rgb(153, 153, 153);
  font-size: 34px !important;
}

.editStyle{
  font-size: 34px !important;
}

.p-selectbutton div{
  padding: 1px;
  width: 50%;
  font-size: 0.8em;
  font-weight: 200;
 
}

.styleSelectButton .p-highlight{
  color: #ffffff !important;
  border-color: #000000  !important;
  background-color: #000000 !important;
  font-size: 0.7em !important;
}


.cardShadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
  border: 0  !important;
}

.trStyleWarmup{
  border-top: 1px #d8d8d8;
  border-bottom: 1px #ffffff;
}

.spanObservaciones{
  font-weight: 400;
}

/**.p-highlight button{
  background-color: #000000 !important;
}*/

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.arrowStyle{
  margin-left: 6px;
}

.navbar-transition {
  animation: slideInLeft 1.5s forwards;
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.MuiCardHeader-title{
  padding: 0 10px !important;
}


/* Ocultar flechas en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar flechas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.dialogDeleteExercise .p-dialog-header{
  padding: 10px 10px;
}

.dialogDeleteExercise .p-dialog-footer{
  padding: 0px 0px 10px;
}

.input-number-container {
  font-size: 0.4em;
  width: 140px;
}

.input-number-container {
  display: flex !important;
  flex-direction: row !important;
  font-size: 0.4em;
  justify-content: center !important;
  height: 30px;
}

.input-number-container input {
width: 50px;
}


.input-number-container .buttonRight {
  height: 100%;
  width: 40px;
  border-radius: 15px 0px 0px 15px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.input-number-container .buttonLeft {
  height: 100%;
  width: 40px;
  border-radius: 0px 15px 15px 0px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.textAreaResize {
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
  border: none !important; /* Elimina el borde inferior */
  box-shadow: none !important; /* Elimina cualquier sombra que pueda estar presente */
}

.table-responsiveCss thead {
  display: none;
}
.table-responsiveCss tbody, .table-responsiveCss tr, .table-responsiveCss td {
  display: block;
  width: 100%;
}
.table-responsiveCss tr {
  margin-bottom: 1rem;
}
.table-responsiveCss td {
  text-align: right;
  padding-left: 50%;
  position: relative;
}

.table-responsiveCss .notStyle {
  text-align: center;
  padding: 0;
  position: static;
  width: 100%;

}

.noneStyle{
  padding: 0 !important; 
}

.leftIcon{
  margin-left: 10px !important;
  border: 0 !important;
  background-color: #d80000 !important;
}

.rightIcon{
  margin-right: 10px !important;
  background-color: #e7e7e78e  !important;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #dee2e6;
}

.table-responsiveCss td::before {
  content: attr(data-th);
  position: absolute;
  left: 0;
  width: 45%;
  padding-left: 1rem;
  font-weight: bold;
  text-align: left;
}


.trNotStyle{
  text-align: center !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  background-color: #000000 !important;
  color: white !important;
}

.colorTd{
  border: 0 !important;
}

.selectNotStyles{
  -webkit-appearance: none !important; /* Safari y Chrome */
  -moz-appearance: none !important;    /* Firefox */
  appearance: none !important;         /* Estándar */

}





@keyframes slideUp {
  0% {
      transform: translateX(-50%) translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
  }
}

.floating-button {
  position: fixed;
  bottom: 0.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  background-color: #00000067;
  gap: 10px;
  z-index: 1000;
  justify-content: center;
  animation: slideUp 0.5s ease forwards;
}

.colorRed{
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  color: white;
}

.colorCancel{
  background-color: #ffffff;
  border: 1px solid #000000;
}


.floating-button .btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.floating-button .btn:hover {
  transform: translateY(-2px);
}

.bbbbb{
  color: red;
}




/*Efectos de eliminar y agregar*/

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Definir animación de salida */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Aplicar transición para cambios de altura (ejemplo) */
.transition-height {
  transition: height 0.3s ease-in-out;
}

/* Aplicar transición para cambios de opacidad (ejemplo) */
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}


.colorProfile {
  background-color: #0d89ec !important;

}

.p-autocomplete-panel ul{
  padding: 0 !important;
}

.repsImp{
  padding: 0 !important;
}

.custom-table td {
  border: none; /* Elimina los bordes de los td */
}

.w-50 {
  width: 50%; /* Da más ancho al campo del nombre */
}

.w-small {
  width: 5rem; /* Ancho pequeño para peso y rest */
}

.stylesAutocomplete input{
  width: 100% !important;
}

.card-shadow {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.199);
}

.marginReps{
  padding-top: 35px  !important;
}

.titleWeek2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para posicionar la letra A */
}

.titleWeek2 .FontTitles {
  flex: 1;
  text-align: center;
}

.titleWeek2 .letterA {
  position: absolute;
  right: 10px; /* Ajusta este valor según tu necesidad */
  width: 50px;
 

}




@media screen and (min-width: 992px) {
  .msjPhone{
    display: none;
  }

  .input-number-container {
    font-size: 0.4em;
    width: 140px;
  }

  .input-number-container {
    display: flex !important;
    flex-direction: row !important;
    font-size: 0.4em;
    justify-content: center !important;
    height: 30px;
  }

  .input-number-container input {
width: 50px;
  }

  .input-number-container .buttonRight {
    height: 100%;
    width: 40px;
    border-radius: 15px 0px 0px 15px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
  }
  
  .input-number-container .buttonLeft {
    height: 100%;
    width: 40px;
    border-radius: 0px 15px 15px 0px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
  }
  
}


@media screen and (max-width: 992px) {

  
.select-button .p-button {
  width: 80%;
}

.select-button  .p-highlight {
  background-color: #0d89ec !important;

}

.select-button .p-focus {
  background-color: #0d89ec !important;

}


  .td-0{
    display: none;
  }

  .td-1{
    width: 20px !important;
  }

  .td-2{
    width: 30px !important;

  }

  .td-3{
    width: 30px  !important;

  }

  .td-5{
    display: none;
  }

  .td-6{
    display: none;
  }

  .td-7{
    display: none;
  }

  .td-8{
    width: 60px !important;
  }

  .p-selectbutton div{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000!important;
    border-radius: 5px !important;
  }
  
  .displayFlexInMobile{
    display: flex;
  }
  .TableResponsiveDayEditDetailsPage{
    display: none;
  }

  .responsiveEmail{
    display: none;
  }
  
  .ButtonResponsiveEditWeekName{
    display: flex
  }

  .TitleResponsiveEditWeekName{
    margin-left: 20px;
  }

  .buttonResponsive{
    display: flex;
  }

/*DayEditPage styles*/

  .responsiveCardExercises{
    display: flex;
  }   
  .responsiveTableExercises{
    display: none;
  }   

  /*Tabla del alumno*/

.tabla tr {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.021);
  margin-bottom: 20px;
}

.tabla thead {
  display: none;
}

.responsiveBlock{
  display: block;
}

.altoResponsive{
  min-height: 350px;
}

.WidthInputsWhenIsMobile{
  max-width: 45px;
}

.input-number-container{
  display: block;

}

}

