*{
  font-family: montserrat;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.tipografia-titulos {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.9em;
}

.tipografia-subtitulos {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.3em;
}

.color-icons{
  color: #242424;
}

p {
  font-size: 1em;
  color: #000000;
}

.buttonCancelDialog{
  background-color: white;
  border: 1px solid black;
}
 
.buttonCancelDialog:hover{
  background-color: #d8d8d8;
  border: 1px solid black;
}

.largeTh{
  min-width: 90px !important;
}

.largeThName{
  min-width: 170px !important;
}

.select-button .p-button {
  
  width: 15%;
}

/* Autocomplete clase */


.p-autocomplete {
  height: 38px;
}

.backgroundPencil{
  background-color: white !important;
}

.form-control:focus{
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  outline: none;
  box-shadow: none;
}

.largoTooltip{
  max-width: 300px;
}
.styleFocusInputNumber:focus{
  border: none !important;
  box-shadow: 1px 1.2px #bdbdbd !important;

}

  .Largo{
    
    max-width: 300px;
  }

  .LargoLogoChico{
    max-width: 140px;
  }

  .LargoLogo{
    margin-top: 56px;
    min-height: 300px;
    max-height: 400px;
  }

  .ButtonResponsiveEditWeekName{
      display: none;
    }

  .FontTitles{
    font-size: 1.3em;
    font-weight: 400;
  }

  .LinkDays {
    text-decoration: none  !important;
  }

  .sizeFontCard span{
    font-size: 0.85em !important;
  }



  .usersListTable td{
    text-align: center !important;
  }

  .usersListTable tr{
    border-bottom: 1px solid rgb(233, 233, 233);
  }


  .usersListTable .p-column-header-content{
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }

  .usersListTable tbody{
    padding: 10px !important;
  }

  .ClassBGHover:hover{
    background-color: #d1d1d1;
    color: #000000;
  }

  .mouseUp{
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }


  
  .menu {
    display: flex;
    justify-content: center;
  }



  .menuColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .buttonColor:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .buttonColorDelete:hover {
    background-color: rgb(204, 17, 17);
    color: white;
  }
  
  
  .menu a {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
  }
  
  .menu a span {
    transition: transform 0.2s ease-out;
  }
  
  .menu a h2 {
    display: inline-block;
  }
  
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  
  .menu p {
    font-size: 22px;
  }
  
  .menu a:hover h2 {
    transform: translateY(100%);
  }
  
  .menu a:hover span:last-child,
  .menu[data-animation] a:hover span:last-child {
    transform: none;
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
  
  .menu[data-animation="to-right"] a:hover h2 {
    transform: translateX(100%);
  }

  .backgroundEjercicios{
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 0;
    border: 0;
  }

  .p-inputnumber-input{
    max-height: 35px;
    text-align: center;
    align-items: center;

  }

  .styleSelectButton{
    font-size: 0.9em;
    margin: auto !important;
    padding: 0 !important;
    width: 140px !important;
  }



  .custom-fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .custom-fieldset legend {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .fieldset-content {
    margin-top: 10px;
  }
  
  .fieldset-content .form-group {
    margin-bottom: 10px;
  }
  
  .fieldset-content .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  

  .p-inputnumber-button{
    max-height: 35px;
    text-align: center;
  }

  .aa{
    cursor: pointer;
  }
  
  .buttonResponsive{
    display: none;
  }

  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }


  .responsiveCardExercises{
    display: none;
  }  

  
  /*Button rsSuit*/

  .sinPadd{
    padding: 0;
  }

  .altoResponsive{
    min-height: 200px;
  }
  
  .rs-panel-body{
    padding: 0px;

  }

  .ee{
    height: 40px;
  }

  .BlackBGtextWhite{
    background-color: black;
    color: white;

  }

  .spanLow{
    color: #888888;
    font-size: 0.7em;
  }

  .BlackBGtextWhite:hover{
    background-color: black;
    color: white;
    animation: bounce 0.5s;

  }

  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.068);
  }
  
  .carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.068);

  }

  .ButtonsInputNumber{
    background-color: rgb(27, 27, 27) !important;
    border: none;
  }

  .ButtonsInputNumber:hover{
    background-color: rgb(255, 255, 255) !important ;
    color: black !important;
  }

  .kkk{
    max-width: 700px;
  }


  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    80% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }

  .displayFlexInMobile{
    display: none;
  }

  .colorDialog{
    background-color: #f5f5f5 !important;

  }




.eee{
  max-width: 500px !important;
  background-color: red !important;
}

.BGmodalClose{
  background-color: #ffffff;
  border: 0.5px solid;
}

.BGmodalClose:hover{
  animation: bounce 0.5s;
  border: 0.5px solid;

}

.deleteDialog{
  background-color: #000000;
}
.deleteDialog:target{
  background-color: #dc3545 !important;

}
.deleteDialog:hover{
  background-color: #dc3545 !important;
}

.deleteDialog:active{
  background-color: #dc3545 !important;

}


.closeDialog{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.closeDialog:hover{
  background-color: #ffffff !important;
  border: 1px solid black !important;
  color:#000000 !important;
  animation: bounce 0.5s;
}

.closeDialog:active{
  background-color: #ffffff !important;
  color:#000000 !important;
  border: 1px solid black !important;

}

.spinnerColor{
  background-color: #2CBDC7 !important;
  color: #2CBDC7 !important;
}

.cardSkeleton{
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.card-skeleton .left-col {
  margin-right: 1rem;
}

.card-skeleton .right-col {
  flex: 1;
}


/* Prime react styles */



.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background: #2CBDC7;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
  background: #2CBDC7;
}

.custom-sidebar-bottom .p-sidebar-content {
  max-height: 50vh;
  overflow-y: auto;
}

.buttonsEdit{
  padding: 8px;
}

.buttonsEdit:hover{
  background-color: #dbdbdb;
}



.input-number-container input{
  height: 100% ;
  border-left: 0 ;
  border-right: 0 ;
  width: 70px ;
  align-items: center ;
  text-align: center ;
  line-height: normal ;

}

.colorIconYoutube{
  color: rgb(221, 28, 28) !important;
}

.p-slider{
  background-color: #b9b9b9 !important;
}

.p-slider-handle{
  background-color: #000000  !important;
  border: 0 !important;
}

.dialogStyleProfile .p-dialog-title{
  margin-top: 10px;
  margin-left: 15px;
}

.largeItemsProfile{
  width: 150px !important;
}

.p-slider-range{
  background-color: rgb(0, 0, 0);
}

.p-dropdown-items{
 padding: 10px;
 margin: 0;
}

.p-dropdown-items .p-highlight{
  font-size: 1em !important;
  background-color: #888888 !important;
 }

 

.colorIconDeleteExercise{
  color: rgb(190, 27, 27) !important;
}

.dataTableStyles td{
  margin-top: 30px;
  text-align: center !important;

}

.p-column-header-content{
  justify-content: center;
}

.fontTable{
  font-size: 1em;
  font-family: montserrat;
}

.dataTableStyles th{
  padding: 15px;
  margin-top: 30px !important;
  justify-content: center;
  text-align: center !important;
}

.dataTableStyles {
  overflow-x: auto;  
}

.container-fluid, .row {
  overflow-x: hidden;  
}




.ellipsis-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.input-number-container .buttonRight:hover,
.input-number-container .buttonLeft:hover{
  background-color: rgba(240, 240, 240, 0.356);
  color: #000000;
}

.input-number-container .buttonLeft[disabled],
.input-number-container .buttonRight[disabled]
 {
  background-color: #e9ecef;
  color: #92969a;

}

.input-number-container .inp[disabled]{
  background-color: white;
  color: #92969a;
}

.inputFontSize{
  font-size: 2.9em;
}

.colorDisabled{
  background-color: #f3f4f5;
}

.ww{
  background-color: #f3f4f5;
  opacity: 0.1 ;
}

.textCreated{
  color: #0000008c;
  font-size: 0.9em;
}

.tableDatabaseMobile{
  background-color: #f8f9fa;
  display: none;
}


.skeleton {
  background-color: #f1f1f1;
}

.skeleton :global(.p-skeleton) {
  margin-bottom: 1rem;
}

.skeletonActions{
  width: 94px;
}

.vvvv{
  height: 60px;
}

/*.skeletonNotas{
  width: 190px;
}

.skeletonName{
  width: 230px;
}

.skeletonNumber{
  width: 110px;
}*/


.tdNumber{
  width: 10%;
}

.tdName{
  width: 20%;
}

.tdSets{
  width: 10%;
}

.tdReps{
  width: 10%;
}

.tdPeso{
  width: 10%;
}

.tdVideo{
  width: 10%;
}

.tdNotas{
  width: 10%;
}

.tdActions{
  width: 10%;
}

.heightDesktop{
  height: 60px;
}

.heightMobile{
  height: 95px;
}

.tdNotasCircuit{
  width: 60px !important;
} /* ESTE ES EL Q INTENTÉ PARA Q SEA MAS CHICO, NO FUNCIONA*/




.cardActionArea {
  box-shadow: 5px 5px 10px #888888;
}




.dropDown{
  border: 0 !important;
}

.dropDown span{
  padding: 0 !important;
  margin: 0 !important;
}

.colorWeeklyProgress{
  color: white !important;
  background-color: #000000 !important;
}

.altoListPAR{
  height: 35px !important;
  font-size: 0.85em ;
}

.heightCardColumns{
  min-height: 300px;
}

.listPAR li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nnn div{
  min-height: 200px !important;
  font-size: 0.8em;
}

.td-0{
  min-width: 50px !important;
}

.td-1{
  min-width: 10px !important;

}

.td-2{
  min-width: 200px !important;
}

.td-3{
  min-width: 10px !important;
}

.td-4{
  min-width: 10px !important;
}

.td-5{
  min-width: 75px !important;
  max-width: 110px !important;
}

.td-6{
  min-width: 80px !important;
}

.td-7{
  min-width: 10px !important;
}

.td-8{
  min-width: 150px  !important;
}

.td-9{
  min-width: 60px  !important;
}

.colorPencil{
  color: #000000;
}

.colorEditing{
  background-color: #2CBDC7 !important;
  font-size: 2em;
}

.colorIcon{
  background-color: #ffffff !important;
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
}




.bbb {
  color: #ffffff !important;
}

.bbb div{
  color: #ffffff !important;
}

.bbb ul{
  color: #ffffff !important;
}

.bbb a{
  color: #ffffff !important;
}

.bbb li{
  color: #ffffff !important;
}

.bbb p{
  color: #ffffff !important;
}

.bbb button{
  color: #ffffff !important;
}

.blackColor {
  color: #000000 !important;
}

.blackColor div{
  color: #000000 !important;
}

.blackColor ul{
  color: #000000 !important;
}

.blackColor a{
  color: #000000 !important;
}

.blackColor li{
  color: #000000 !important;
}

.blackColor p{
  color: #000000 !important;
}

.blackColor button{
  color: #000000 !important;
}

.bgColor{
  background-color: #000000 !important;
}




.buttonsHover:hover{
  opacity: 0.6;
  text-shadow: #000000;
}

.blackColor{
  color: #000000;
}


.colorPicker{
  height: 70px;
  width: 90px;
}

.colorTdPAR{
  background-color: #dadada !important;
}

.titleObservaciones{
  font-size: 1.09em;
  font-weight: 600;
}

.paraphObservaciones{
  font-size: 1em;
}

.Mui-focused{
  background-color: #ffffff00 !important;
}

.Mui-selected{
  background-color: #ffffff00 !important;
}

.stylesSegmented{
  font-size: 1em;
  background-color: #ebebeb;
  padding: 5px;
}

.avatarSize{
  height: 35px !important;
  width: 35px !important;
  text-align: center !important;

  align-items: center !important;
  font-size: 1em !important;
}

.avatarColor{
  background-color: #888888 !important;
}

.titleCard span{
  font-size: 1em  !important;
  color: #000000;
  
}

.MuiCardHeader-avatar{
  margin: 0 !important;
}
.ytColor{
  color: red;
  font-size: 34px !important;
}

.ytColor-disabled{
  color: rgb(153, 153, 153);
  font-size: 34px !important;
}

.imageIcon{
  color: #0d89ec;
  font-size: 34px !important;
}

.imageIconDisabled{
  color: #696969;
  font-size: 34px !important;
}

.imgModal{
  max-width: 380px;
  object-fit: cover;
}

.editStyle{
  font-size: 34px !important;
}

.p-selectbutton div{
  padding: 1px;
  width: 50%;
  font-size: 0.8em;
  font-weight: 200;
 
}

.styleSelectButton .p-highlight{
  color: #ffffff !important;
  border-color: #000000  !important;
  background-color: #000000 !important;
  font-size: 0.7em !important;
}


.cardShadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
  border: 0  !important;
}

.trStyleWarmup{
  border-top: 1px #d8d8d8;
  border-bottom: 1px #ffffff;
}

.spanObservaciones{
  font-weight: 400;
}

/**.p-highlight button{
  background-color: #000000 !important;
}*/

.save-float-button {
  position: fixed;
  bottom: 180px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.save-float-button-active {
  position: fixed;
  bottom: 210px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.Edit-float-button {
  position: fixed;
  bottom: 100px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.Edit-float-button-active {
  position: fixed;
  bottom: 130px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.editActive{
  background-color: #0044fffb;
  color: white;
}

.index-up{
  z-index: 5000 !important;
}

.largoAddon{
  width: 15px !important;
  text-align: center !important;
  margin: auto !important;
}

.saveActive{
  background-color: #0a7e00fb;
  color: white;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #e0e0e0fb; /* Color de fondo de WhatsApp */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.733);
  transition: background-color 0.3s ease-in-out;
  color: #fff; /* Color del ícono de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.shadowCards{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.233);
}

.arrowStyle{
  margin-left: 9px;
}

.navbar-transition {
  animation: slideInLeft 1.5s forwards;
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.MuiCardHeader-title{
  padding: 0 10px !important;
}


/* Ocultar flechas en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar flechas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.dialogDeleteExercise .p-dialog-header{
  padding: 10px 10px;
}

.dialogDeleteExercise .p-dialog-footer{
  padding: 0px 0px 10px;
}

.input-number-container {
  font-size: 0.4em;
  width: 140px;
}

.input-number-container {
  display: flex !important;
  flex-direction: row !important;
  font-size: 0.4em;
  justify-content: center !important;
  height: 30px;
}

.input-number-container input {
width: 50px;
}


.input-number-container .buttonRight {
  height: 100%;
  width: 40px;
  border-radius: 15px 0px 0px 15px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.input-number-container .buttonLeft {
  height: 100%;
  width: 40px;
  border-radius: 0px 15px 15px 0px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.textAreaResize {
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
  box-shadow: none !important; /* Elimina cualquier sombra que pueda estar presente */
}

.table-responsiveCss thead {
  display: none;
}
.table-responsiveCss tbody, .table-responsiveCss tr, .table-responsiveCss td {
  display: block;
  width: 100%;
}
.table-responsiveCss tr {
  margin-bottom: 1rem;
}
.table-responsiveCss td {
  text-align: right;
  padding-left: 50%;
  position: relative;
}

.table-responsiveCss .notStyle {
  text-align: center;
  padding: 0;
  position: static;
  width: 100%;

}

.noneStyle{
  padding: 0 !important; 
}

.leftIcon{
  margin-left: 10px !important;
  border: 0 !important;
  background-color: #d80000 !important;
}

.rightIcon{
  margin-right: 10px !important;
  background-color: #e7e7e78e  !important;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #dee2e6;
}

.table-responsiveCss td::before {
  content: attr(data-th);
  position: absolute;
  left: 0;
  width: 45%;
  padding-left: 1rem;
  font-weight: bold;
  text-align: left;
}


.trNotStyle{
  text-align: center !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  background-color: #000000 !important;
  color: white !important;
}

.colorTd{
  border: 0 !important;
}

.selectNotStyles{
  -webkit-appearance: none !important; /* Safari y Chrome */
  -moz-appearance: none !important;    /* Firefox */
  appearance: none !important;         /* Estándar */

}





@keyframes slideUp {
  0% {
      transform: translateX(-50%) translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
  }
}



.floating-button {
  position: fixed;
  bottom: 0.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  background-color: #000000;
  gap: 10px;
  z-index: 52000;
  justify-content: center;
  animation: slideUp 0.5s ease forwards;
}

.floating-button-mobile {
  position: fixed;
  bottom: 0.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  background-color: #000000;
  gap: 10px;
  z-index: 52000;
  justify-content: center;
  animation: slideUp 0.5s ease forwards;
}

.floating-button-mobile-warmup {
  position: fixed;
  bottom: 0.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  background-color: #000000;
  gap: 10px;
  z-index: 52000;
  justify-content: center;
  animation: slideUp 0.5s ease forwards;
}

.colorRed{
  background-color: rgb(0, 0, 0);

  color: white;
}

.colorCancel{
  background-color: #ffffff;

}


.floating-button .btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.floating-button .btn:hover {
  transform: translateY(-2px);
}

.bbbbb{
  color: red;
}




/*Efectos de eliminar y agregar*/

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Definir animación de salida */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Aplicar transición para cambios de altura (ejemplo) */
.transition-height {
  transition: height 0.3s ease-in-out;
}

/* Aplicar transición para cambios de opacidad (ejemplo) */
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}


.colorProfile {
  background-color: #0d89ec !important;

}

.p-autocomplete-panel ul{
  padding: 0 !important;
}

.repsImp{
  padding: 0 !important;
}

.custom-table td {
  border: none; /* Elimina los bordes de los td */
}

.w-50 {
  width: 50%; /* Da más ancho al campo del nombre */
}

.w-small {
  width: 5rem; /* Ancho pequeño para peso y rest */
}

.stylesAutocomplete input{
  width: 100% !important;
}

.card-shadow {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.199);
}

.marginReps{
  padding-top: 27px  !important;
}

.titleWeek2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para posicionar la letra A */
}

.titleWeek2 .FontTitles {
  flex: 1;
  text-align: center;
}

.titleWeek2 .letterA {
  position: absolute;
  right: 10px; /* Ajusta este valor según tu necesidad */
  width: 50px;
 

}

.app-small-font {
  font-size: 12px; /* Tamaño de fuente general más pequeño */
}



.app-small-font h2 {
  font-size: 18px; /* Tamaño de fuente específico para títulos */
}

.app-small-font .btn {
  font-size: 12px; /* Tamaño de fuente más pequeño para botones */
}

.app-small-font .form-control {
  font-size: 12px; /* Tamaño de fuente más pequeño para campos de entrada */
}

.app-small-font .table {
  font-size: 12px; /* Tamaño de fuente más pequeño para tablas */
}

.app-small-font .card-title {
  font-size: 14px; /* Tamaño de fuente más pequeño para títulos de tarjeta */
}

.app-small-font .inputtextarea {
  font-size: 12px; /* Tamaño de fuente más pequeño para textareas */
}

.autocomplete {
  position: relative; /* Necesario para la posición absoluta de las sugerencias */
}

.suggestions-list {
  position: absolute; /* Para evitar mover el contenido al mostrarse */
  top: 100%; /* Para que aparezca justo debajo del input */

  padding: 6px;
  width: 450px; /* Establece un ancho fijo de 300px */
  max-height: 250px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido excede la altura máxima */
  background-color: white;
  border: 1px solid #ccc;
  z-index: 4000 !important; /* Mayor z-index para superponerse sobre otros elementos */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}


.suggestions-list ul {
  padding: 0;
}

.suggestions-list li {
  padding: 4px;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  white-space: nowrap; /* Evita que el texto se apile */

}

.suggestions-list li ul li:hover {
  background-color: #f0f0f0; /* Efecto hover en cada elemento individual */
  transition: background 0.2s;
}

.suggestions-list span {
  display: block;
  font-weight: 500;
  font-size: 1.1em;
  color: #1d1d1d;
  margin-bottom: 8px;


}

.altoTable{
  padding-bottom: 180px;
}

.background-logo {
  object-fit: cover;
  z-index: 1;
  top: 0;
  left: 0;
}

.divPrincipal{
  height: 50vh ;

}

.image-container {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad */
  border-radius: 10px; /* Opcional: para esquinas redondeadas */
  max-width: 50%; /* Ajusta el ancho máximo si es necesario */
  height: 50%; /* Altura del 50% del viewport */
  animation: slide-in-left 0.8s ease-in-out forwards;
}

.animationRigth{
  animation: slide-in-rigth 0.8s ease-in-out forwards;
}

.animationLeft{
  animation: slide-in-left 0.8s ease-in-out forwards;
}

.centered-img {
  max-height: 100%; /* La imagen ocupa el 100% de la altura disponible */
  max-width: 100%; /* La imagen ocupa el 100% del ancho disponible */
  height: auto; /* Mantener proporciones */
}

@media (max-width: 768px) {
  .image-container {
      max-width: 90%; /* Ajuste en pantallas móviles */
      height: 50%; /* Permitir que la altura se ajuste automáticamente */
  }
}

@keyframes slide-in-left {
  0% {
      transform: translateX(-100%); /* Comienza fuera de la pantalla por la izquierda */
  }
  100% {
      transform: translateX(0); /* Llega a su posición original */
  }
}


.transition-rigth-to-medium{
  animation: slide-in-rigth 0.8s ease-in-out forwards;
}

@keyframes slide-in-rigth {
  0% {
      transform: translateX(100%); /* Comienza fuera de la pantalla por la izquierda */
  }
  100% {
      transform: translateX(0); /* Llega a su posición original */
  }
}



@media (max-width: 768px) {
  .suggestions-list {
    max-width: 345px;
    right: 0;

    padding: 10px; /* Agrega algo de padding extra si es necesario */
  }

  .suggestions-list ul {
    padding: 0;
  }

  .suggestions-list li {
    padding: 8px; /* Un poco más de espacio para mejorar la usabilidad en mobile */
  }

  .suggestions-list span {
    font-size: 1em; /* Reduce ligeramente el tamaño de la fuente para pantallas pequeñas */
  }
}

.marginNavBar{
  margin-top: 56px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  width: 150px; /* Ajusta el tamaño del logo */
}

.spinner {
  color: #007bff; /* Cambia el color del spinner si lo prefieres */
}




.user-type-option {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-type-option:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



@keyframes text-glow {
  0% {
    background-position: 400%;
  }
  50% {
    background-position: 200%;
  }

}


.text-glow {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(120deg, #6e6868d2, rgb(0, 0, 0), #6e6868d2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: text-glow 2.5s linear infinite;
  background-size: 200%; /* Doble del ancho para un efecto fluido */
}




/* Personalizar la barra de scroll */
.suggestions-list::-webkit-scrollbar {
  width: 15px; /* Ancho de la barra de scroll */
}

.suggestions-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista */
}

.suggestions-list::-webkit-scrollbar-thumb {
  background: #575757; /* Color de la barra de scroll */
  border-radius: 2px; /* Bordes redondeados para la barra de scroll */

}

.suggestions-list::-webkit-scrollbar-thumb:hover {
  background: #444444; /* Color al pasar el mouse por encima */
}

.margin-custom .aa{
  margin-top: 27px !important;
}

.font-icons{
  font-size: 0.6em;
}

.fontUsersList{
  font-size: 0.5em !important;
}




/* Estilos iniciales comunes */
.box {
  opacity: 0 !important;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out !important;
}

/* Elemento que entra desde la izquierda */
.from-left {
  transform: translateX(-100px) !important; /* Comienza fuera de la pantalla, a la izquierda */
}

.from-left.in-view {
  opacity: 1 !important;
  transform: translateX(0) !important; /* Vuelve a su posición original */
}

/* Elemento que entra desde la derecha */
.from-right {
  transform: translateX(100px) !important; /* Comienza fuera de la pantalla, a la derecha */
}

.from-right.in-view {
  opacity: 1 !important;
  transform: translateX(0) !important; /* Vuelve a su posición original */
}

/* Elemento que entra desde el centro */
.from-center {
  transform: scale(0.5) !important; /* Comienza más pequeño (50% de su tamaño original) */
}

.from-center.in-view {
  opacity: 1 !important;
  transform: scale(1) !important; /* Vuelve a su tamaño original */
}

.no-format{

  color: #000000;
  font-weight: 500;
}


.bounce-in-right {
	-webkit-animation: bounce-in-right 1.1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: bounce-in-right 1.1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.bounce-in-left {
	-webkit-animation: bounce-in-left 1.1s both;
	        animation: bounce-in-left 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-27 1:57:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


 @-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.text-border {
  color: rgb(255, 255, 255); /* Color principal del texto */
  text-shadow: 
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; /* Sombras para simular el borde negro */
}


.mukta-malar-extrabold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 800;
  font-style: normal;
}







.blog-slider {
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  margin: 30px;
  border-radius: 25px;
  transition: all 0.3s;
}

.flex-blog{
  display: flex;
}



.blog-slider__img {
  width: 30%;
  flex-shrink: 0;
  background-image: linear-gradient(147deg, #000000 0%, #686868 74%);
  box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}


.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #000000 0%, #6e6e6e 74%);
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.textPopup{
  font-size: 1.4em !important;
}

.marginEye{
  margin-top: 39px;
}

.p-datatable-emptymessage td{
  padding: 20px 0px;
}

.altoTry{
  min-height: 700px;
}

.altoName{
  height: 50px;
}


.fontIcons{
  font-size: 1em !important;
  color: #000;
}

.fontUserList{
  font-size: 1em;
}

.tableWarmupColor{
  background-color: #d1d1d1 !important;
}


.whatsapp-btn {
  display: inline-block;
  background-color: #25D366; /* Color verde de WhatsApp */
  color: rgb(0, 0, 0); /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita para el texto */
  text-align: center;
  text-decoration: none; /* Quitar subrayado */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Efecto suave en hover */
  border: none; /* Sin borde */
  cursor: pointer; /* Icono de mano al pasar sobre el botón */
}

.whatsapp-button:hover {
  background-color: #1EBEA5; /* Color más oscuro al pasar el cursor */
}


.pointerClick{
  cursor: pointer;
}



.darkStyle{
  background-color: #000 !important;
  color: white !important;
}


.line {
  flex-grow: 1; /* Para que la línea ocupe el espacio disponible */
  height: 0.5px; /* Grosor de la línea */
  background-color: rgb(0, 0, 0); /* Color de la línea */

}

.line-container {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.iconYT{
  width: 25px !important;
  height: 25px !important;
  padding: 0 !important;
}

.fontCronometer{
  font-size: 1.3em !important;
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.colorRoutine{
  background-color: #ffffff;
  color: #000;
}

.styleBordersLeft{
  border-radius: 0px 0px 10px 0px;
  padding: 10px 20px !important;
  background-color: white;
}

.styleBordersYT{
  border-radius: 0px 10px 0px 0px ;
  background-color: white !important;

}

.styleBordersRigth{
  border-radius: 0px 0px 0px 10px;

}

.fontsIconsCard{
  font-size: 1.4em !important;
  color: rgb(80, 80, 80) !important;
}

.quadre{
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.432);
  margin: 1px;
}

.asd{
  height: 200px;
}

.styleCard{

  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.151);
}

.anton-regular span{

    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
    letter-spacing: 0.4px; /* Aumenta el espacio entre caracteres */
}

.anton-regular{

  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  letter-spacing: 0.4px; /* Aumenta el espacio entre caracteres */
}

.fonnt{
  font-size: 16px;
  font-weight: 400;
}

.colorNameExercise{
  background-color: #f3f3f3d2;
}

.ssss{
  height: 100% !important;
}

.title{
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  letter-spacing: 0.4px; /* Aumenta el espacio entre caracteres */
}

.largeIcon{

  height: 30px !important;

  background-color: #7c7c7c !important;
}



.aaa{
  background-color: rgb(12, 68, 255) !important;
  color: #ffffff !important;
  border-radius: 50px;
  }
  
  .divModalWarmupSave{
    top: 77%;
    background-color: #000;
  }
    
.textSpanVideo{
  font-size: 0.8em;
}

.similarButton{
  height: 42px !important;
  width: 42px !important;
  padding: 30%;
  border: 1px solid #dee2e6 !important;
  border-radius: 50% !important;
}

.circleContador{
  height: 100px;
  width: 100px;
  border: 1px solid darkblue;
  border-radius: 50%;

}

.colorNavBottom{
  background-color:rgb(0, 0, 0);
}

.altoDiv{
  height: 60px;
}

.fontIcon{
  font-size: 1.5em !important;
}

.fontTextIcon{
  font-size: 0.8em !important;
}

.buttonsNav{
  color: #ffffff !important;
  padding: 0 !important;
}

.colorNavBar{
  background-color: #1c1c1c;
}

.active{
  text-decoration: double;
}



.stylesNavBarBottom span {
  font-size: 0.8em;
  color: #a0a0a0 !important;
}

.stylesNavBarBottom svg {

  font-size: 1em;
}

.active-2 {
  background-color: rgb(58, 58, 58) !important;
  border: #000;
  color: #000 !important;
  border-radius: 10px;
}

.positionIconsNavBar{
  position: absolute;
  margin-bottom: 5px;
  bottom: 30px;
  width: 53px;
  padding: 10px 0;
  background-color: #1c1c1c;
  border: 3px solid #ffffff !important;
  border-radius: 50%;
}

.activeButton{
  background-color: #174fe9 !important;
}

.activeSpan{
  color: red !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo de la “píldora” */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; 
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.disabledButton:disabled{
  border: none !important;
  outline: none !important;

}

.columnName{
  width: 200px;
}

.columnEmail{
  width: 450px;
}

.columnActions{
  width: 100px;
}

/* Cuando está activo (checked) */
input:checked + .slider {
  background-color: #2196F3; /* color principal del switch */
}

input:checked + .slider:before {
  transform: translateX(24px);
}


.glowing-icon {
  animation: glowing 1.5s ease-in-out alternate;
}

@keyframes glowing {
  0% { filter: brightness(1.2); transform: scale(1); }
  100% { filter: brightness(1); transform: scale(1.5); }
}


.container {
                    max-width: 800px;
                    margin: auto;
                }
                .category-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-top: 20px;
                    border-bottom: 2px solid #000;
                    padding-bottom: 5px;
                }
                .exercise-list {
                    margin-top: 10px;
                }
                .exercise-item {
                    margin-bottom: 10px;
                }
                .exercise-button {
                    width: 100%;
                    text-align: left;
                    padding: 10px;
                    font-size: 1rem;
                    border: none;
                    background: #f8f9fa;
                    cursor: pointer;
                    transition: background 0.3s;
                }
                .exercise-button:hover {
                    background: #e9ecef;
                }
                .video-container {
                    margin-top: 10px;
                }



.colorTools{
  background-color: #3183da00;
}

.fontDeleteCircuit{
  font-size: 1em !important;
}




.sidebarPro {
  position: fixed;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(32, 32, 32) 49%, rgba(0,0,0,1) 100%);
  height: 100% !important;
  z-index: 1;
  top: 0px;
  left: 0px;

}

.sidebarProExercises{
  position: fixed;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(32, 32, 32) 49%, rgba(0,0,0,1) 100%);
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
}


.contentArea {
  margin-left: 200px; /* ancho por defecto cuando está abierto */
  transition: margin-left 0.3s ease;
}
.contentArea.collapsed {
  margin-left: 85px; /* ancho cuando está colapsado */
}


.ps-menu-button:hover{
  background-color: #dad9d92a !important;
}

.ant-segmented-item{
  margin: 5px 0;
} 

.ant-segmented-item-icon{
  margin: 0 0 20px -5px !important;
}

.marginCollapsed{
  margin-left: 190px;
}

.marginNormalTable{
  margin-left: 75px;
}



.rs-input-group-addon{
  display: none;
}

.rs-picker-clean {
  display: none;
}

.rs-btn-close{
  display: none;
}

.montserrat-s {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3em;

}



.stylesButtons {


  margin: 0 5px;
  border-radius: 180px;
  padding: 10px 10px;
}

.styleEndSesion{
  margin-left: 10px;
  border:1px solid #000;
}

.boxData{
  box-shadow:1px 1px 11px #00000050;
}

.boxDataWarmup{
  height: 100px;
  box-shadow:1px 1px 11px #00000050;
}

.totalHeight{
  min-height: calc(100vh - 198px) !important;
}

.totalHeightTable{
  min-height: 88px !important;
}



.colorFooter{
  background-color: #000;
}

.fixed-top{
  z-index: 90 !important;
}


.margenUserRoutine{
  margin-top: 60px;
  margin-bottom: 15px;
}

.marginBetween{
  margin-top: 20px;
}

.marginBoxRegister{
 padding: 9px 0;
}

.marginTableRoutine{
  height: 173px;
}

.margenLogoDay{
  margin-top: 100px;
}



.botonHelp{
  margin-top: 168px !important;
}

.botonHelpEdit{
  margin-top: 169px !important;
}

.marginHelpDays{
  margin-top: 110px;
}

.margenLogoUserRoutine{
  margin-top: 180px;
}

.margenLogoUserListPage{
  margin-top: 114px;
}

.fontTextNavBar{
  font-size: 0.8em;
}











@media screen and (min-width: 992px) {


  .msjPhone{
    display: none;
  }

  .input-number-container {
    font-size: 0.4em;
    width: 140px;
  }

  .input-number-container {
    display: flex !important;
    flex-direction: row !important;
    font-size: 0.4em;
    justify-content: center !important;
    height: 30px;
  }

  .input-number-container input {
width: 50px;
  }

  .input-number-container .buttonRight {
    height: 100%;
    width: 40px;
    border-radius: 15px 0px 0px 15px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: #ffffff;
    background-color: black;
    border: none;
    cursor: pointer;
  }
  
  .input-number-container .buttonLeft {
    height: 100%;
    width: 40px;
    border-radius: 0px 15px 15px 0px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
  }
  
}

.colorMain{
  background-color: #ffffff;
}

.marginSidebarOpen{
  margin-left: 200px !important;
}

.marginSidebarClosed{
  margin-left: 85px !important;
}

.classNameStart{
  text-align: start !important;
}

@media screen and (max-width: 1110px ) {
  .td-6{
    width: 220px !important;
  }
}

@media screen and (max-width: 1550px ) {
  .td-6{
    width: 80px !important;
  }
}

@media screen and (max-width: 1366px ) {
  .td-6{
    width: 80px !important;
  }
}


@media screen and (min-width: 1550px ) {
  .td-6{
    width: 75px !important;
  }
}

@media screen and (min-width: 1700px ) {
  .td-6{
    width: 60px !important;
  }
}


@media screen and (max-width: 992px) {
  
  .floating-button-mobile {
    bottom: 80px;

  }
  

  .marginTableRoutine{
    padding-top: 10px;
    height: 100%;
  }

    .sidebarPro {
      display: none;
    }
    
    .sidebarProExercises{
      display: none;
    }

    .marginSidebarOpen{
      margin-left: 0 !important;
    }
    
    .marginSidebarClosed{
      margin-left: 0 !important;
    }
    

  .blog-slider {
    position: relative;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s;
  }

  .flex-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.blog-slider__img {
  width: 200px;
  padding: 40px 0px;
  flex-shrink: 0;
  background-image: linear-gradient(147deg, #000000 0%, #686868 74%);
  box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: 0;
  transform: translateX(0);
  transform: translatey(-40%);
  overflow: hidden;
}

.select-button .p-button {
  width: 80%;
}

.select-button  .p-highlight {
  background-color: #0d89ec !important;

}

.select-button .p-focus {
  background-color: #0d89ec !important;

}


  .td-0{
    display: none;
  }

  .td-1{
    width: 20px !important;
  }

  .td-2{
    width: 30px !important;

  }

  .td-3{
    width: 30px  !important;

  }

  .td-5{
    display: none;
  }

  .td-6{
    display: none;
  }

  .td-7{
    display: none;
  }

  .td-8{
    width: 60px !important;
  }

  .p-selectbutton div{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000!important;
    border-radius: 5px !important;
  }
  
  .displayFlexInMobile{
    display: flex;
  }
  .TableResponsiveDayEditDetailsPage{
    display: none;
  }

  .responsiveEmail{
    display: none;
  }
  
  .ButtonResponsiveEditWeekName{
    display: flex
  }

  .TitleResponsiveEditWeekName{
    margin-left: 20px;
  }

  .buttonResponsive{
    display: flex;
  }

/*DayEditPage styles*/

  .responsiveCardExercises{
    display: flex;
  }   
  .responsiveTableExercises{
    display: none;
  }   

  /*Tabla del alumno*/

.tabla tr {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.021);
  margin-bottom: 20px;
}

.tabla thead {
  display: none;
}

.responsiveBlock{
  display: block;
}

.altoResponsive{
  min-height: 350px;
}

.WidthInputsWhenIsMobile{
  max-width: 45px;
}

.input-number-container{
  display: block;

}

}

